body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
	width: 50%;
	margin: auto;
}

input {
	width: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.btn {
	width: 75%;
	border: 2px solid black;
	margin: 15px 0px 10px 15px;
	cursor: pointer;
	padding: 10px;
	background: #54a7ff;
	border-radius: 5px;
}

.submit {
	width: 100%;
	margin: initial;
}

.product-container {
	width: 50%;
	display: inline-block;
}

.products {
	width: 100%;
	padding: 25px 0 25px 0;
}

.product-details {
	width: 30%;
	margin: auto;
	border: 2px solid black;
	box-shadow: grey 2px 2px 4px;
	background: white;
}

.products {
	background: #80808040;
}

.product-name {
	font-weight: bold;
	font-size: 20px;
}

#header {
	padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: grey 4px 1px 1px;
}

#footer {
	padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: grey 3px 0px 8px -2px;
}

#form-container {
	width: 50%;
	margin: auto;
}

#email {
	color: blue;
}

#phone {
	color: red;
}

#price_sale {
	color: red;
}

